<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    .errordiv{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .errormsg{
        width: 500px;
        height: 200px;
        text-align: center;
        color: red;
    }
</style>
<div class="errordiv">
    <div class="errormsg">
        <h1>无权限操作</h1>
    </div>

</div>
</body>
</html>