<div th:replace="../templates/admin/public/head::head"></div>
<div class="layui-row page-body" xmlns:th="http://www.thymeleaf.org">
    <style>


    </style>
    <div class="page-tab-content">
        <div class="layui-row formrow">
            <form class="layui-form" th:action="@{/admin/attestation/attestationinsertpost}" method="post">

                <div class="layui-form-item formitemcomm">
                    <label class="layui-form-label">分类</label>
                    <div class="layui-input-block">
                        <select name="parent_id" lay-verify="required">
                            <option value="0">顶级菜单</option>
                            <div th:each="list,liststart:${parentlist}">
                                <option th:value="${list.attestation_id}"  th:text="${list.attestation_name}"></option>
                                <div th:each="list2,list2start:${list.parent2}">
                                    <option th:value="${list2.attestation_id}"  th:text="'——————'+${list2.attestation_name}" ></option>
                                </div>
                            </div>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item formitemcomm">
                    <label class="layui-form-label">地址：</label>
                    <div class="layui-input-block">
                        <input type="text" name="attestation_url" required  lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item formitemcomm">
                    <label class="layui-form-label">名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="attestation_name" required  lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item formitemcomm">
                    <label class="layui-form-label">排序：</label>
                    <div class="layui-input-block">
                        <input name="sort" type="number" value="100" required  lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item formitemcomm">
                    <label class="layui-form-label">是否菜单</label>
                    <div class="layui-input-block">
                        <input type="radio" name="is_menu" value="1" title="是" >
                        <input type="radio" name="is_menu" value="2" title="否" checked>
                    </div>
                </div>
                <div class="layui-form-item formitemcomm">
                    <label class="layui-form-label">是否鉴权</label>
                    <div class="layui-input-block">
                        <input type="radio" name="is_authentication" value="1" title="是" >
                        <input type="radio" name="is_authentication" value="2" title="否" checked>
                    </div>
                </div>
                <div class="layui-form-item formitemcomm">
                    <label class="layui-form-label">是否接口</label>
                    <div class="layui-input-block">
                        <input type="radio" name="request_type" value="1" title="接口" >
                        <input type="radio" name="request_type" value="2" title="页面" checked>
                    </div>
                </div>
                <div class="layui-form-item formitemcomm">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo" data-operation="refresh" data-jumpurl="refresh">立即提交</button>
                        <a href="javascript:;" type="layui-btn" class="layui-btn layui-btn-primary onReset">重置</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<script>
    layui.use(['form','layer','upload'], function(){
        var form = layui.form;
        var layer = layui.layer;
        var upload = layui.upload;

    });
</script>
<!-- 底部 -->
<div th:replace="../templates/admin/public/foot::foot"></div>






