<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.AttestationMapper">

    <select id="parentlist" parameterType="com.example.demo.entity.Attestation" resultType="com.example.demo.entity.Attestation">
        select * from attestation where parent_id=#{parent_id}
    </select>

    <insert id="insertattestation" parameterType="com.example.demo.entity.Attestation" useGeneratedKeys="true" keyProperty="attestation_id">
        insert attestation (parent_id,attestation_url,attestation_name,is_menu,is_authentication,created_at,updated_at,request_type) value (#{parent_id},#{attestation_url},#{attestation_name},#{is_menu},#{is_authentication},#{created_at},#{updated_at},#{request_type})
    </insert>

    <select id="oneattestation" parameterType="com.example.demo.entity.Attestation" resultType="com.example.demo.entity.Attestation">
        select * from attestation where attestation_id != 0
        <if test="parent_id != ''">
            and parent_id=#{parent_id}
        </if>
        <if test="attestation_id != 0">
            and attestation_id=#{attestation_id}
        </if>
        <if test="attestation_url != null">
             and attestation_url=#{attestation_url}
        </if>
        <if test="attestation_name != null">
            and attestation_name=#{attestation_name}
        </if>
        limit 1
    </select>

    <select id="allattestation" parameterType="com.example.demo.entity.Attestation" resultType="com.example.demo.entity.Attestation">
        select * from attestation where attestation_id != 0 and parent_id=#{parent_id}
        <if test="attestation_url != null and attestation_url != ''">
            and attestation_url=#{attestation_url}
        </if>
        <if test="attestation_name != null and attestation_name != ''">
            and attestation_name=#{attestation_name}
        </if>
        <if test="is_menu != null and is_menu != ''">
            and is_menu=#{is_menu}
        </if>
        <if test="is_authentication != null and is_authentication != ''">
            and is_authentication=#{is_authentication}
        </if>
        ORDER BY sort ASC
    </select>

    <update id="updateismenu" parameterType="com.example.demo.entity.Attestation">
        update attestation set updated_at=#{updated_at}
        <if test="is_menu != null and is_menu != ''">
            ,is_menu = #{is_menu}
        </if>
        <if test="is_authentication != null and is_authentication != ''">
            ,is_authentication = #{is_authentication}
        </if>
        where attestation_id = #{attestation_id}
    </update>

    <update id="updatesort" parameterType="com.example.demo.entity.Attestation">
        update attestation set updated_at=#{updated_at}
        <if test="sort != null">
            ,sort = #{sort}
        </if>
        where attestation_id = #{attestation_id}
    </update>

    <select id="oneupdateattestation" parameterType="com.example.demo.entity.Attestation" resultType="com.example.demo.entity.Attestation">
        select * from attestation where attestation_id != 0
        <if test="attestation_id != 0">
            and attestation_id=#{attestation_id}
        </if>
        <if test="attestation_url != null">
            and attestation_url=#{attestation_url}
        </if>
        <if test="attestation_name != null">
            and attestation_name=#{attestation_name}
        </if>
        <if test="attestation_id != 0">
            and attestation_id != #{attestation_id}
        </if>
        limit 1
    </select>

    <update id="updateattestation" parameterType="com.example.demo.entity.Attestation">
        update attestation set updated_at=#{updated_at}
        <if test="parent_id != null">
            ,parent_id = #{parent_id}
        </if>
        <if test="attestation_url != null">
            ,attestation_url = #{attestation_url}
        </if>
        <if test="attestation_name != null">
            ,attestation_name = #{attestation_name}
        </if>
        <if test="is_menu != null">
            ,is_menu = #{is_menu}
        </if>
        <if test="is_authentication != null">
            ,is_authentication = #{is_authentication}
        </if>
        <if test="sort != null">
            ,sort = #{sort}
        </if>
        <if test="request_type != null">
            ,request_type = #{request_type}
        </if>
        where attestation_id = #{attestation_id}
    </update>

    <select id="onedeleteattestation" parameterType="com.example.demo.entity.Attestation" resultType="com.example.demo.entity.Attestation">
        select * from attestation where attestation_id != 0
        <if test="attestation_idstr != null">
            and parent_id in (#{attestation_idstr})
        </if>
    </select>


    <delete id="deleteattestation" parameterType="com.example.demo.entity.Attestation">
        delete from attestation where attestation_id in (#{attestation_idstr})
    </delete>

</mapper>
